<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
        <p style="text-color: red; text-style: bold;">
          <%= message %>
        </p>
    </div>
    <div>
      <a href="<%= link %>">Go back</a>
    </div>
  </body>
</html>
