<!DOCTYPE html>
<html>
  <head>
    <title>New user registration</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <h1>New user</h1>
      <h2>Registration</h2>
    </div>
    <div>
      <form method="post" enctype="application/x-www-form-urlencoded">
        <div>
          <label for="username">User name:</label>
          <input type="text" name="username" id="username">
        </div>
        <div>
          <label for="password">Password:</label>
          <input type="password" name="password" id="password">
        </div>
        <div>
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </body>
</html>
